.jumbotron{
  background-image:url("https://static.pexels.com/photos/12582/photo-1440557958969-404dc361d86f.jpeg");
  background-position: 70% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#username{ 
  font-size:20px;
}

.editButtons{
  white-space:nowrap;
}

.navbar-nav {
    margin-left:30%;
    display:inline-block;
}

h4{
    margin: 0px;
    float:right;
}

.navbar-text{
     margin-top:15px;
     margin-bottom:0px;   
}

.glyphicon-log-out{
    color:gray;
}


