<%include ../partials/header%>

<div class="container"> 
    <form class="form-group" action="/comments/<%=Comments._id%>?_method=PUT" method="POST">
    <div
      <label for="nameInput">Title</label>
      <input type="text" class="form-control" id="nameInput" name="comment[title]" value="<%=Comments.title%>" >
    </div>
    <div class="form-group">
      <label for="descriptionInput">Comment</label>
      <input class="form-control" id="descriptionInput" name="comment[comment]" value="<%=Comments.comment%>">
    </div> 
    <button class="btn btn-default" type="submit">Submit</button>
    </form>
</div>  


<%include ../partials/footer%>