<%include ../partials/header%>

<div class="container"> 
    <form class="form-group" action="/journey/show/<%=journey._id%>/comments" method="POST">
    <div>
      <h2><%= journey.username %></h2>
    </div>
    <div class="form-group">
      <label for="titleInput">title</label>
      <input class="form-control" id="titleInput" name="title" placeholder="title">
      <label for="descriptionInput">comment</label>
      <input class="form-control" id="descriptionInput" name="comment" placeholder="Put in your comments here...">
    </div> 
    <button class="btn btn-default" type="submit">Submit</button>
    </form>
</div>  

