#searchPanel{
   width:50%;
   display: inline-block;

}

.glyphicon-heart{
    color:red;
    cursor:pointer;
}
.glyphicon-heart-empty:hover{
    color:red;
    cursor: pointer;
}
.resultboxes{
  height:128px;
  width:440px;
}

.resultboxes:hover{
  background-color:$highLightGrey;
}
.ResultItem{
  background-color:transparent;
  border-color:transparent;
  display:inline-block;
  width:310px;
  margin-right:0px;
}

.resultItemHeading{
  display:inline-block;
  font-size:12px;
  width:310px;
}

h5{
  font-weight:bold;
  display:inline-block;
}
#resultReviews{
  color:gray;
  font-size:10px;
  font-style:italic;
}
.resultLocationImage{
 float:right;
 margin-top:12px;
}
