.navbar-form{
  width:310px;
  display:inline-block;
}
.loginInput{
  width:100px;
  height:30px;
  border-width:thin;
  padding-right:3px;
  border-radius:4px;
}

.signUpLink{
  margin-right:10px;
}

.btn-nav{
  height:30px;
  font-size:15px;
  margin-right:5px;
  margin-left:3px;
}

@media (max-width: 765px) {
  .navbar-form{
    width:100%;
  }
  .loginInput{
    width:100%;
  }
  .btn-nav{
    width:100%;
    margin-top:5px;
  }
  .signUpLink{
    display:block;
  }

}
.loginInput{
  border-radius:0px;
  border:none;
  margin-left:2px;
}

.navbar-right{
    margin-right:0px;
    vertical-align:center;
    padding-top:5px;
}
