html,body{
  background-color:$backgroundColor;
  font-family:serenity,helvetica,helvetica neue,arial,sans-serif;
}

.btn{
  background-color:$blue;
  color:white;
  border-color:$blue;
  height:55px;
  border-radius:0px;
}

.main{
  background-color:$backgroundColor;
  height:1000px;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}
