.navbar{
  border-radius:0px;
  opacity:.95;
}

.navbar-nav {
    margin-left:25%;
    display:inline-block;
}
.navbar-text{
  height:100%;
  font-size:15px;
  margin:auto;
  margin-top:1px;
  li{
    text-align:center;
  }
}
.active-links{
  background-color:red;
  color:red;
}
.nav-container{
  text-align:center;
}
.navbar-default{
  border:none;
}
