
 .list-group-item:last-child{
 border-radius:0px;

 }
 div{
   font-family:Arial, Helvetica, sans-serif
 }
 .glyphicon glyphicon-remove{
  float:right;
 }

 #reviews{
   display:block;
   color:gray;
   font-size:10px;
   font-style:italic;
 }

 .locationImage{
    vertical-align:top;
    margin-top:20px;
    margin-left:20px;
    margin-right:10px;
    border-radius:5px;
    width:110px;
 }

 .ToDo{
   height:150px;

 }

 .ToDoItems{
   border-color:#e2e2e2;
   border-style:solid;
   border-width:1px;
   border-radius:4px;
   background-color: white;
   width:450px;
   height:155px;
   margin: 0 auto;
   margin-top:10px;
 }

.list-group-item{
  margin-top:15px;
  width:250px;
  height:100px;
  display:inline-block;
  border-width:0px;

}
.distance{
    display:inline-block;
    width:80px;
   font-weight:bold;
   font-size:12px;
   color:#999;
}

.snippet_text{
  display:block;
  font-size:10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:0px;
}

glyphicon-remove{
  margin-top:3px;
}
.daySelection{
    margin-left:40px;
}

.daySelection:hover{
   background-color:#e6e6e6;
   font-size:16px;
}
