
<div class="container">
    <form >
    <div id="search">
        <input type="text" class="searchBox" id="term"  placeholder="Name of Place,Trails.....">
        <input type="text" class="searchBox" id="location"  placeholder="Location">
    </div>      
     <!--   <button type="button" id="currentLocation" class="btn btn-default">Submit</button> --->
        <button type="button" id="testbutton" class="btn btn-default">Search</button>
      </form>

<div id="searchPanel">
      <br></br>
    <div id="searchResults"></div>
</div>

<div class ="container" id="map"></div>
</div>
<div>

</div>
