<%include ../partials/header%>
<style type="text/css">
<%include landingPage.css%>
</style>
<div class="container">
  <div class="jumbotron" >
    
    <h1>Adventures is out there</h1>
    <p>Plan and Share your adventures with Journey</p>
    <a href="/newJourney" type="button" class="btn btn-default navbar-btn">Create journeys</a>
   </div>
   
   
<% journey.forEach(function(selectedJourney){ %>
 
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="thumbimage" src="..." alt="...">
      <div class="caption">
        <h3><%= selectedJourney.journeyName%></h3>
        <p><%= selectedJourney.caption%></p>
      </div>
    </div>
  </div>
  
<% }) %>

<% include ../partials/footer %>

