     html, body {
        background-color:#fafafa;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
      }
      .container{
        padding:0;

      }
      #map {
       height:300px;
       width:100%;
       top:0px;
      }
      .list-group-item:last-child{
      border-radius:0px;
        
      }
      
      .navbar-form{
          margin-bottom:20px;
      }
      form{
        max-width:700px;
         width:75%;
         margin: 0 auto;
      }
      #search{
        float:left;
      }
      div{
        font-family:Arial, Helvetica, sans-serif
      }
      #searchPanel{
        height:200px;
        background-color:transparent;
         width:50%;
         display: inline-block;
      }
      .boxHighlight{
        background-color:#e6e6e6;
      }
      .resultboxes{
        display:inline-block;
        height:50px;
        width:200px;
        font-size:15px;
      }
      .glyphicon glyphicon-remove{
       float:right; 
      }
      .goIcon{
        font-size:12px;
        color:#999;
      }
      #reviews{
        display:block;
        color:gray;
        font-size:10px;
        font-style:italic;
      }
      .locationImage{
         vertical-align:top;
         margin-top:15px;
         margin-left:20px;
         border-radius:5px;
         width:110px;
      }
     .sidebar{
       display:inline-block; 
       width:150px;
       border-right-width:1px;
       border-color:#808080;
       border-right-style:solid;
     }
     btn-group{
         font-size:12px;
     }
     #favorites{
         margin-top:10px;
        list-style: none;
        padding-left:0px;
     }
      .glyphicon-heart{
         color:	#F08080;
         margin-right: 5px;
     }
     .glyphicon-folder-open{
        color: #20B2AA;
        margin-right: 5px;
     }
     .favoritesLists{
        color: #808080;
        font-size:10px;
        list-style: none;
        padding: 5px 5px 5px 15px;
     }
       .favoritesLists:hover{
        font-size:12px; 
        color:black;
        background-color:#e6e6e6;
     }
      #sortPanel{
        vertical-align:top;
        display:inline-block;
        height:800px;
        width:500px;
        min-width:450px;
      }
      .map_favorites{
          vertical-align:top;
          width:400px;
          height:500px;
          margin-left:15px;
          display:inline-block;
     }
      .ToDo{ 
        height:150px;

      }
      .ToDoItems{
        border-color:#e2e2e2;
        border-style:solid;
        border-width:1px;
        border-radius:4px;
        background-color: white;
        width:470px;
        height:140px;
        margin: 0 auto;
        margin-top:10px;
      }
      
     .list-group-item{
        margin-top:15px;
       width:250px;
       height:100px;
       display:inline-block;
       border-width:0px;
          
     }
     .distance{
         display:inline-block;
         width:80px;
        font-weight:bold;
        font-size:12px;
        color:#999;
     }
     
     .snippet_text{
       display:block;
       font-size:10px;
       font-family: Arial, Helvetica, sans-serif;
       margin-bottom:0px;
     }
     
     glyphicon-remove{
       margin-top:3px;
     }
     
     #directionsText{
      margin-top:10px;
      height:80%;
      overflow-y: scroll;
     }
  
     #Routes{
         height:50px;
         width:130px;
     }
     .nextButton{
         position: fixed;
         color:#999;
         font-size:50px;
         right:0px;
         top:50%;
     }
     
     
     