
<%include ../partials/header%>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMJZOHCIonaJDigVJKsgPV9Y8QUFK6tA&callback=initMap"async defer></script>


<style type="text/css">
 
<%include plannerStyle.css%>
  
</style>


<script>

function initMap() {

    //google map settings
     var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 10
    });
                      
    // obtain geolocatin of current position
    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
        //set map center to current geolocation
              $("#currentLocation").click(function() { 
                map.setCenter( {lat: position.coords.latitude, lng: position.coords.longitude});
              });
          });
    }else{
        console.log("failed")
    };
     
 
    //display all of the user's favorites items and retrieve yelpData of those items
    //Post request to node  ----> app.js    
   $.ajax({
        type: "POST",
        url: "/planner",
        data: "",
        dataType:"json",
        success: function(matchFavorites){    
        console.log(matchFavorites);
        //display all favorite data in favorite panel
            for(var i = 0; i<matchFavorites.length;i++){
                  $("#searchResults").append(function(){
                        return  "<div class= 'resultboxes' id='"+i+"'><span>"+matchFavorites[i].name+"</span><button class='glyphicon glyphicon-remove'></button></div>"
                       });
                   }
 
             //create slots for toDo panel
                for(var x = 0; x<5; x++){ 
                    
                        $(".sortPanel").append(function(){
                          return "<div class ='ToDo'></div>";   
                        });
                    };
                    
                    
            //features for dragging components
               $( ".resultboxes" ).draggable({
                  distance: 10,
                });
            
            
            //features for dropping components    
                $(".ToDo").droppable({
                    accept:".resultboxes",
                    activeClass:"dropBox",
                    drop: function(event,ui){
                        
                        var toDoArr = ui.draggable.attr("id");
                        console.log(toDoArr);
                        //locate object in matchFavorites that 
                        //has id :droppedId and print yelpData on ToDo Panel
                        $(this).append(function(){
                    
                       //  console.log(toDoThumb);
                             return "<div class='ToDoItems'>"+
                            "<span class='list-group-item'>"+
                            "<h5 class='list-group-item-heading' id='heading'><span id='queryNumber'>"+toDoArr+'</span>.'+matchFavorites[toDoArr].name+
                            "&nbsp&nbsp&nbsp<span>"+
                            "<img src='"+matchFavorites[toDoArr].rating_img_url+"'></img></span><span id='reviews' >&nbsp"+matchFavorites[toDoArr].review_count+" reviews</span></h4>"+
                            "<p class='snippet_text'>"+matchFavorites[toDoArr].snippet_text+"</p></di>"+
                            "</span><img class='locationImage'src='"+matchFavorites[toDoArr].image_url+"'></img>"
                       });
                            
                            
                        
                    
                        //function for searching through matchFavorites
                       
                    }
                });    
        
      
        //function for removing Todo
        //function for moving Todo
        //function for editing Todo
        
        //set center of map to search locations

        //Render first 10 results from yelp search and plot on map

        //add number to queries and markers on maps

                } 
    });

}
</script>


<% include plannerContent.html%>
