<%include ../partials/header%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMJZOHCIonaJDigVJKsgPV9Y8QUFK6tA&callback=initMap"async defer>
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
<style type="text/css">
<%include plannerStyle.css%>
</style>

<script>
function initMap() {
    
    var markers=[] ; // array for storing all of the markers  
    //google map settings
    var map = new google.maps.Map(document.getElementById('map'),{
      center: {lat: -34.397, lng: 150.644},                      
      zoom: 10
    });
    
    //function for setting markers on map
    function markMap(map){
            for ( var i = 0; i < markers.length; i++ ){
                markers[i].setMap(map);
            }
    }
    
    //display all of User's favorites in the schedule panel 
     $.ajax({
        type: "GET",
        url: "/planner/favorites/show",
        data: "",
        dataType:"json",
        success: function(matchFavorites){ 
            console.log(matchFavorites)
            //display all favorite data in favorite panel
            for(var i = 0; i<matchFavorites.length;i++){
                  $("#searchResults").append(function(){
                        return  "<div class= 'resultboxes' id='"+i+"'><div>"+matchFavorites[i].name+"</div>"+
                        "<span class='glyphicon glyphicon-remove'></span><span class='glyphicon glyphicon-plus addToDo'></span></div>"
                       });
                   }
        },
        complete:function(response){
            console.log(response);
            var matchFavorites = response.responseJSON
                
           //add favorites to schedule and save to users collections
           //when the + icon is clicked    
           $(".addToDo").on("click",function(){
               var newToDo = $(this).parent().attr("id");
               $.ajax({
                    type: "POST",
                    url: "/planner/toDo/new",
                    data: matchFavorites[newToDo],
                    dataType:"json",
                    success:function(schedule){
                        $("#sortPanel").append(function(){
                          var scheduleLength =  $(".ToDoItems").length;
                          return toDoContents(schedule,scheduleLength);
                        });
                    },
                    complete:function(){
                        removeToDotest();
                    }
               })
            });
        }
     });

   
    
    
    //display user's schedule in the schedule panel
    $.ajax({
        type: "GET",
        url: "/planner/schedule/show",
        data:"",
        dataType:"json",
        success:function(schedule){
            console.log(schedule)
          //remove markers on map
          markMap(null);
          //clear markers on map when new search is made
          markers=[];
            for( var i=0; i<schedule.length ; i++){
                $("#sortPanel").append(function(){
                    
                      //add number to markers markers on maps
                     marker = new google.maps.Marker({
                                    position: {lat:parseFloat(schedule[i].location.coordinate.latitude), lng:parseFloat(schedule[i].location.coordinate.longitude)},
                                    title: schedule[i].name,
                                    label: "3",
                                    });    
                     //load all markers in array to be displayed on google maps              
                     markers.push(marker);
                     markMap(map);
    
                  return toDoContents(schedule[i],i);
                });
            }
           removeToDo();
          var lat = parseFloat(schedule[1].location.coordinate.latitude);
          var long = parseFloat(schedule[1].location.coordinate.longitude);
          map.setCenter({lat: lat, lng: long});
           
           $("#sortPanel").sortable({
               update:function(){
                  sortQueryNumber();
                  var reorderSchedule = $(this).sortable('toArray',{attr:'sortid'});
                  $.ajax({
                      type:"PUT",
                      url:"/planner/schedule/edit",
                      data:{id:reorderSchedule},
                  })
               }
           });
        }  
    });

     //function for returning toDo boxes    
     function toDoContents(toDoObject,i){
         return  "<div id='"+toDoObject.id+"'class='ToDo "+i+"'><div class='ToDoItems'>"+
                        "<span class='list-group-item'>"+
                        "<h5 class='list-group-item-heading' id='heading'><span class='queryNumber'>"+i+"</span>"+
                        "<span class='scheduleName' id='"+toDoObject.id+"'>."+toDoObject.name+"</span>"+
                        "<span>&nbsp<img src='"+toDoObject.rating_img_url+"'></img></span>"+
                        "<span id='reviews'>&nbsp"+toDoObject.review_count+"reviews</span></h5>"+
                        "<p class='snippet_text'>"+toDoObject.snippet_text+"</p><div class='glyphicon glyphicon-remove removeToDo'></div></di>"+
                        "</span><img class='locationImage'src='"+toDoObject.image_url+"'></img></div>"
     };
     
     //function for removing ToDo
     
     function removeToDo(){ 
        $(".removeToDo").on("click",function(){
        var deleteToDo = $(this).siblings("#heading").children(".queryNumber").html();
        $this = $(this);
        console.log(deleteToDo)
          $.ajax({
              type: "DELETE",
              url:"/planner/toDo/delete",
              data:{'id':deleteToDo},
              complete:function(){
                   $this.parent().parent().parent().remove();
                   console.log("hey")
              }
         });
        });
     } 
     function removeToDotest(){ 
        $(".removeToDo").on("click",function(){
        var deleteToDo = $(this).siblings("#heading").children(".queryNumber").html();
        $this = $(this);
        console.log(deleteToDo)
          $.ajax({
              type: "DELETE",
              url:"/planner/toDo/delete",
              data:{'id':deleteToDo},
              complete:function(){
                   $this.parent().parent().parent().remove();
                   console.log("hey")
              }
         });
        });
     } 
     function sortQueryNumber(){
          $(".queryNumber").each(function(index){
              $(this).html(index)
          }); 
     };

}
</script>


<% include plannerContent.html%>
