<%include ../partials/header%>
<script src="https://maps.googleapis.com/maps/api/js?key=<%include ../../keys/googleKey.html%>&callback=initMap"async defer>
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
<style type="text/css">
<%include plannerStyle.css%>
</style>

<script>
function initMap() {
    var ABC    =["A","B","C","D","E","F","G","H", "I","J","K"]; 
    var markers=[] ; // array for storing all of the markers  
    //google map settings
    var map = new google.maps.Map(document.getElementById('map'),{
      center: {lat: -34.397, lng: 150.644},                      
      zoom: 10
    });
    
    //function for setting markers on map
    
    
     //Populate User's favorites in the result Panel
     $.ajax({
        type: "GET",
        url: "/planner/favorites/show",
        data: "",
        dataType:"json",
        success: function(matchFavorites){ 
            for(var i = 0; i<matchFavorites.length;i++){
              $("#favorites").append(function(){
                    return  "<li><div class= 'favoritesLists' id='"+i+"'>"+
                    "<div>"+matchFavorites[i].name+"</div>"+
                    "<span id= '"+matchFavorites[i].id+"' class='glyphicon glyphicon-plus addToDo'></span>"+
                    "&nbsp&nbsp&nbsp<span class='glyphicon glyphicon-trash removeFavorites'>"+
                    "</span></div></li>"
               });
            }
        } 
    });
    
    //display user's schedule in the schedule panel
    //display all journeys in the journey's drop down menu
    $.ajax({
        type: "GET",
        url: "/planner/schedule/show",
        data:"",
        dataType:"json",
        success:function(responseData){
            console.log(responseData);
            //load panel with selected Journeys
            openSavedJourney(responseData); 
            //calculate routees and distance
             calculateRoutes(responseData.schedule);   
             calculateDistance(responseData.schedule);
             
             //display captions on planner page
             var captions= "no captions";
             
             responseData.journeys.journeys.forEach(function(openJourney){
                 if(openJourney._id == responseData.journeys.currentJourney.id){
                      $(".captions").html('"'+openJourney.caption+'"'); 
                        return captions='"'+openJourney.caption+'"'
                 }
             })
             
             $(".captions").html(captions)
        }  
    });
    
    
   $(".btn-group").on("click",".loadJourney",function(){
       var selectedJourneyId = $(this).attr("id");
       var selectedJourneyName = $(this).html();
       $.ajax({
       type: "POST",
       url: "/planner/journey/show",
       data:{journeyId:selectedJourneyId , journeyName:selectedJourneyName},
       dataType:"json",
       success:function(responseData){
    
            //load panel with selected Journey
            $(".journeybutton").html("");
            $(".journeyslist").html("");
            $("#sortPanel").html("");
            openSavedJourney(responseData);   
                
            //calculate routees and distance
             calculateRoutes(responseData.schedule);   
             calculateDistance(responseData.schedule);
           }
       })
   });
   
   
   
 //edit captions
    $("#classSelector").dblclick(function(){
           if($(this).attr("class") == "captions"){
                var captions=$(this).html();
                $(this).html(function(){
                   return "<form class='editCaptions'onSubmit='return false'>"+
                      "<input class='editCaptions' type='text' value='"+captions+"'><br>"+
                    "</form>"
                })
                $(this).attr("class",captions);
                
           }else{
                var editedCaptions = $(this).attr("class");
                $(this).empty();
                $(this).html(editedCaptions);
                $(this).attr("class","captions") ; 
           }
                  $(".editCaptions").change(function(){
                  var editedCaptions = $(this).val();
                  var journeyId = $(".journeybutton").attr("id");
                  $("#classSelector").html(editedCaptions); 
                    $.ajax({
                        type: "PUT",
                        url: "/planner/captions/edit",
                        data:{journeyId:journeyId,editedCaptions:editedCaptions},
                        dataType:"json",
                    })
             });
        });   
    
  
    
         
   //add favorites to schedule and save to users collections
   //when the + icon is clicked    
   $("#favorites").on("click",".addToDo",function(){
       var currentDay = $("#currentDay").html();
       var currentJourney = $(".journeybutton").attr("id");
       var newToDo = $(this).attr("id");
       $.ajax({
            type: "POST",
            url: "/planner/toDo/new",
            data: {id:newToDo , day:currentDay , journeyId: currentJourney},
            dataType:"json",
            success:function(schedule){
                $("#sortPanel").append(function(){
                  var lastPosIndex =  $(".ToDoItems").length;
                  var newSchedule = schedule[schedule.length- 1];
                  return toDoContents(newSchedule,lastPosIndex);
                });
                sortQueryNumber(schedule);
            },
       })
    });
    
    
    $("#previousDay").on("click",function(){
       var currentday = $("#currentDay").html();
       if (currentday != 1 ){
            $("#currentDay").html(currentday-1);
       }
        var day = $("#currentDay").html() - 1 ;
        var currentJourney = $(".journeybutton").attr("id");
        
        refreshSchedule(day,currentJourney);
    })
    
    
    
    $("#nextDay").on("click",function(){
        var currentday = $("#currentDay").html();
        $("#currentDay").html(parseInt(currentday)+1);
        var day = $("#currentDay").html()-1;
        var currentJourney = $(".journeybutton").attr("id");
        refreshSchedule(day,currentJourney);
    })
    


       //allows ToDo  to be sortable on click
   $("#sortPanel").sortable({
       update:function(){
          var currentDay = $("#currentDay").html();
          var currentJourney = $(".journeybutton").attr("id");
          var reorderedSchedule = $(this).sortable('toArray',{attr:'sortid'});
          $.ajax({
              type:"PUT",
              url:"/planner/schedule/edit",
              data:{id:reorderedSchedule, day:currentDay , journeyId:currentJourney},
              success:function(sortedSchedule){
                  sortQueryNumber(sortedSchedule);    
              }
          })
      
       }
   });

    //Remove ToDo when x is clicked on the schedule panel
    $("#sortPanel").on("click",".removeToDo",function(){
        var currentDay = $("#currentDay").html();
        var currentJourney = $(".journeybutton").attr("id");
        var deleteToDo = $(this).siblings("#heading").children(".queryNumber").html();
        $this = $(this);
          $.ajax({
              type: "DELETE",
              url:"/planner/toDo/delete",
              data:{'id':deleteToDo , day:currentDay , journeyId: currentJourney},
              success:function(deletedYelpData){
                   $this.parent().parent().parent().remove();
                   sortQueryNumber(deletedYelpData);
              }
         });
        });


    $(".sidebar").on("click",".removeFavorites",function(){
        var deleteFavorites = $(this).siblings(".addToDo").attr("id");
        $.ajax({
           type: "DELETE",
           url: "/favorites/delete",
           data: {id : deleteFavorites},
           dataType:"json",
           success: function(responseData){ 
               $("#"+deleteFavorites+"").parent().parent().remove();
               }
           }); 
       });

//Publish Journey
    $(".nextButton").on("click",function(){
    var currentJourney = $(".journeybutton").attr("id");
    alert("Your Journey have been published for the world to see!");
        $.ajax({
           type: "POST",
           url: "/journey/publishJourney/Create",
           data: {journeyId : currentJourney},
           dataType:"json",
           success: function(responseData){ 
           }
        });
    })



     //function for returning toDo boxes    
     function toDoContents(toDoObject,i){
         return  "<div id='"+toDoObject.id+"'class='ToDo "+i+"'><div class='ToDoItems'><img class='locationImage'src='"+toDoObject.image_url+"'></img>"+
                        "<div class='list-group-item'>"+
                        "<h5 class='list-group-item-heading' id='heading'><span class='queryNumber'>"+i+"</span>"+
                        "<span class='scheduleName' id='"+toDoObject.id+"'>.<a href='"+toDoObject.url+"'>"+toDoObject.name+"</a></span>"+
                        "<span id='reviews'><img src='"+toDoObject.rating_img_url+"'></img>&nbsp"+toDoObject.review_count+"reviews</span></h5>"+
                        "<p class='snippet_text'>"+toDoObject.snippet_text+"</p><div class='glyphicon glyphicon-remove removeToDo'></div></di>"+
                        "</div><div class='distance'></div></div>"
     };
     
 
     function openSavedJourney(responseData){
            for( var i = 0; i<responseData.schedule.length ; i++){
            $("#sortPanel").append(function(){
              return toDoContents(responseData.schedule[i],i);
            });
            }
           
            //render Journeys drop-down menu
            var journeyslist = responseData.journeys.journeys;
           
            for(var x = 0 ; x<journeyslist.length ; x++){
                 $(".journeyslist").append(function(){
                    return "<li id='"+journeyslist[x]._id+"' class='loadJourney'>"+
                    journeyslist[x].journeyName+"</li>" 
                 });
             
                 $(".journeybutton").html(responseData.journeys.currentJourney.name +" <span class='caret'>");
                 $(".journeybutton").attr("id",responseData.journeys.currentJourney.id);
                 
            }
    }
     
     
    function refreshSchedule(day, currentJourney){
         $.ajax({
            type: "POST",
            url: "/planner/days",
            data: {day:day , journeyId: currentJourney},
            dataType:"json",
            success:function(responseData){
             $("#sortPanel").html("");
             for( var i = 0; i<responseData.length ; i++){
                $("#sortPanel").append(function(){
                  return toDoContents(responseData[i],i);
                });
                }
               
             calculateRoutes(responseData);  
             console.log("planenrsday")
             calculateDistance(responseData);
            }
         })
    }
    
     
     function sortQueryNumber(yelpObject){
      $(".queryNumber").each(function(index){
          $(this).html(index)
      });
      
       $(".ToDo").each(function(index){
           $(this).removeClass().addClass("ToDo "+index+"")
       })
      
      calculateRoutes(yelpObject);
      calculateDistance(yelpObject);
     };
     
     
     
     function calculateDistance(schedule){
        var origin=[];//store all the LatLng of locations in odd index
        var destination=[];//store all the LatLng of locations in even index
        var service = new google.maps.DistanceMatrixService();//google maps distance API
     
        for(var i = 0 ; i<schedule.length ; i++ ){
           var lat = schedule[i].location.coordinate.latitude;
           var long = schedule[i].location.coordinate.longitude;
               origin.push(""+lat+","+long+"");
               destination.push(""+lat+","+long+"");
        }  

        //Request distance through Google's API
        service.getDistanceMatrix(
          {
            origins: origin,
            destinations: destination,
            travelMode: 'DRIVING',
            unitSystem: google.maps.UnitSystem.IMPERIAL,
          }, function(response,status){
        //process recieved Data
            if(status=="OK"){
                var distancesArr = [];
                console.log(response);
                for(var i = 0 ; i<schedule.length - 1; i++){
                    console.log(i);
                  var distanceTravel = response.rows[i].elements[i+ 1].distance.text;
                  var durationTravel = response.rows[i].elements[i+ 1].duration.text;
                  distanceObj = { "distance": distanceTravel,
                                  "duration": durationTravel
                                };
                  distancesArr.push(distanceObj);
                };
                
                $(".distance").empty();    
               for( var x = 0 ; x < distancesArr.length ; x++){
                $("."+x+" > .ToDoItems > .distance").html(function(){
                    return  "<div class='miles'><span class='glyphicon glyphicon-chevron-right'></span>"+
                     "<span>&nbsp&nbsp"+distancesArr[x].distance+"</span></div>"+
                     "<div class='time'><span class='glyphicon glyphicon-time'></span>"+
                     "<span>&nbsp&nbsp"+distancesArr[x].duration+"</span</div>"
                });
               }
            }else{
               console.log(status);
            }
          });
    }
    
    
    function calculateRoutes(schedule){   
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var waypts = [] ;
        var originpts;
        var endpts;
        
        for( var i = 0 ; i< schedule.length ; i++){
            var lats    = schedule[i].location.coordinate.latitude;
            var longs   = schedule[i].location.coordinate.longitude;
            if( i == 0){
                originpts = ""+lats+","+longs+"" ;
           }else if( i == schedule.length - 1){
               endpts= ""+lats+","+longs+"";
               displayRoutes(directionsService,directionsDisplay,originpts,waypts,endpts);
            }else{  
                 waypts.push({location:""+lats+","+longs+"" , stopover: true}); 
            }
        };
    };     
    
    
    function displayRoutes(directionsService,directionsDisplay,originpts,waypts,endpts){  
        directionsService.route({
             
              origin: originpts,
              waypoints:waypts,
              destination: endpts,
              travelMode: 'DRIVING'
              
            }, function(response, status) {
              
              if (status === 'OK') {
               map ="";
               map =new google.maps.Map(document.getElementById('map'),{
                      center: {lat: -34.397, lng: 150.644},                      
                      zoom: 10
                        });
                 directionsDisplay.setDirections(response);
                 directionsDisplay.setMap(map);
                 //remove current direction from directionsText element
                 //and replace with new directions
                 document.getElementById("directionsText").innerHTML="";
                 directionsDisplay.setPanel(document.getElementById("directionsText"));
             
              } else {
                console.log('Directions request failed due to ' + status);
              }
            }      
        );
    };
    
    
     function addMarkerToMap(yelpObject,i){
        if(i == 0){
          //remove markers on map
          markMap(null);
          //clear markers on map when new search is made
          markers=[];
        } 
        //add number to markers markers on maps
        var latPos  = parseFloat(yelpObject.location.coordinate.latitude);
        var longPos = parseFloat(yelpObject.location.coordinate.longitude);
        var i       = i.toString();
         marker = new google.maps.Marker({
            position: {lat:latPos, lng:longPos},
            title:yelpObject.name,
            label: i,
            });    
         //load all markers in array to be displayed on google maps              
         markers.push(marker);
         markMap(map);
     }

}

</script>


<% include plannerContent.ejs%>
