<%include ../partials/header%>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMMJZOHCIonaJDigVJKsgPV9Y8QUFK6tA&callback=initMap"async defer></script>


<style type="text/css">
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width:45%;
        position:relative;
        float:right;
        top:50px;
      }
      
      .container{
        height:100%;
        width:80%;
      }
      #searchPanel{
         width:50%;
         display: inline-block;

      }
      #searchResults{
         
          
      }
      .list-group-item:first-child{
          border-radius:0px;
        
         
      }
      .list-group-item:last-child{
      border-radius:0px;
        
      }
      
      .navbar-form{
          margin-bottom:20px;
      }
      form{
          width:30%;
          margin: 0 auto;
      }
      .glyphicon-heart{
          color:red;
      }
</style>

<script>

//initiate google maps
function initMap() {
    //google maps settings
    var markers=[] ; // array for storing all of the markers  
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 10
    });
                    
    // obtain geolocatin of current position
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        
    //set map center to current geolocation
          $("#currentLocation").click(function() { 
            map.setCenter( {lat: position.coords.latitude, lng: position.coords.longitude});
          });
      });
    }else{
        console.log("failed")
      };

      
    //Create search and render results using AJAX.
        //AJAX post request  to node and expect to recieve yelp data in JSON.
    
    $("#testbutton").click(function(){
       
       
               
        //function for setting markers on map
        function markMap(map){
                for ( var i = 0; i < markers.length; i++ ){
                    markers[i].setMap(map);
                }
        }
       //remove markers on map
        markMap(null);
        markers=[];
        
        //empty list to refresh
        $("#searchResults").empty();
        
        var term = $("#term").val();         //obtain value from input form
        var location = $("#location").val(); //obtain value from input form
         
        var favoritesData;
         

        //Post data into node ----> see file app.js    
        $.ajax({
            type: "POST",
            url: "/favorites",
            data: {term:term, location:location},
            dataType:"json",
            success: function(yelpData){    //Return data obtained from node 
            
            var spot = yelpData.businesses; //variable fo business array
            console.log(spot);
            
           
           

              
            //set center of map to search locations
            
                map.setCenter({lat: yelpData.region.center.latitude , lng: yelpData.region.center.longitude}); 
               
        //Render first 10 results from yelp search and plot on map
        
        for( var i = 0 ; i<10 ; i++ ){
            
                                   
                
               
                
                var queryNumber = String(i + 1);//number for listing out search results
                  
                $("#searchResults").append(function(){
                return "<div >"+
                        "<div class='list-group-item'>"+
                        "<h4 class='list-group-item-heading' id='heading'><span id='queryNumber'>"+queryNumber+'</span>.'+spot[i].name+"</h4>"+
                        "<p class='list-group-item-text'>"+spot[i].snippet_text+"</p></di><div  id='heartIcon"+[i]+"' class='glyphicon glyphicon-heart-empty'></div></div>"
                        
                   });
                   
                if(spot[i].heartOn=="true"){
                    console.log(spot[i].id+"pass")
                   $("#heartIcon"+[i]).addClass('glyphicon-heart').removeClass('glyphicon-heart-empty');
                    }else{
                    }
            
               //add number to queries and markers on maps
             marker = new google.maps.Marker({
                            position: {lat:spot[i].location.coordinate.latitude, lng:spot[i].location.coordinate.longitude},
                            title: spot[i].name,
                            label: queryNumber,
                            });    
                       
             markers.push(marker);
             
             markMap(map);
           
            };
            
      //Select icon on map when hover 
            $('.list-group-item').hover(function(){
               $(this).addClass('well well-lg');
               
            },
               function(){
               $(this).removeClass('well well-lg');
            
               });   
     //toggle heart button, add activities to node database and remove 
          
                  $('.glyphicon').click(function(){
                      
                      //Post id to node--->save queries id to currentUser
                      var selectedData = $(this).siblings('#heading').children('#queryNumber').html() - 1 ;
                      
                      var favoriteSpots =  spot[selectedData].id;
                      
                      
                      if($(this).attr("class") == 'glyphicon glyphicon-heart-empty' ){
                         //Change from hollow heart to red-filled heart
                          $(this).switchClass('glyphicon-heart-empty','glyphicon-heart',0);
                           
                           //Post id to node--->save queries id to currentUser
                             $.ajax({
                                 type: "POST",
                                 url: "/favorites/save",
                                 data: {'id': favoriteSpots},
                                 dataType:"json",
                                 success: function(dataReturn){
                                     console.log(dataReturn);
                                 }
                             });    
                      
                          
                      }else{
                           $(this).switchClass('glyphicon-heart','glyphicon-heart-empty',0);   
                            //Post id to node--->remove queries id of currentuser when favorite is toggled off
                             $.ajax({
                                 type: "DELETE",
                                 url: "/favorites/delete",
                                 data: {'id': favoriteSpots},
                                 dataType:"json",
                                 success: function(deletedSpots){
                                     console.log(deletedSpots);
                                     
                                 }
                             });  
                      }
                      
                      
                  });

                } 
    
            });
          });
    };


</script>
<div class="container">
    <form >
        <div>
          <input type="text"  id="term" value="mexican" placeholder="Name of Place,Trails.....">
          <input type="text"  id="location" value="San Jose" placeholder="Location">
        </div>
        <button type="button" id="currentLocation" class="btn btn-default">Submit</button>
        <button type="button" id="testbutton" class="btn btn-default">Test</button>
      </form>

<div id="searchPanel">
      <br></br>
    <div id="searchResults"></div>
</div>

<div class ="container" id="map"></div>
</div>
<div>

</div>




<%include ../partials/footer%>
