     html, body {
        background-color:white;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width:45%;
        position:relative;
        height:65%;
        float:right;
        top:50px;
      }
      
      .container{
        height:100%;
        width:80%;
      }
      #searchPanel{
         width:50%;
         display: inline-block;

      }
    
      .list-group-item:first-child{
          border-radius:0px;
        
         
      }
      .list-group-item:last-child{
      border-radius:0px;
        
      }
      
      .navbar-form{
          margin-bottom:20px;
      }
      form{
        max-width:700px;
         width:75%;
         margin: 0 auto;
      }
      #search{
        float:left;
      }
      #testbutton{
        background-color:#8FBC8F;
        border-radius:0px;
        width:90px;
        height:45px;
        font-size:20px;
        font-weight:bold;
        margin-top:5px;
        color:#006600;
      }
      div{
        font-family:Arial, Helvetica, sans-serif
      }
      #searchPanel{
        height:200px;
        background-color:transparent;
      }
      .boxHighlight{
        background-color:#e6e6e6;
      }
      .resultboxes{
        display:inline-block;
        height:50px;
        width:300px;
        border-style:solid;
        border-color:gray;
      
      }
      .list-group-item{
       background-color:transparent;
       border-color:transparent;
        display:inline-block;
        width:310px;
        margin-right:0px;
      }
      h5{
        font-weight:bold;
        display:inline-block;
      }
      .list-group-item-text{
        display:inline-block;
        font-size:12px;
        width:310px;
        
      }
      #reviews{
      color:gray;
      font-size:10px;
      font-style:italic;
      }
      .locationImage{
       float:right;
       margin-top:5px;
      }
      .sortPanel{
        background-color:tan;
        height:100%;
         width:50%;
         display: inline-block;
      }
      .dropBox{
        background-color:red;
      }
      .ToDo{
        border-color:gray;
        border-style:solid;
        background-color:#D3D3D3;
        height:150px;
        padding-top:15px;
      }
      .ToDoItems{
        border-color:white;
        border-style:solid;
        background-color: white;
        width:400px;
        height:110px;
        margin: 0 auto;
      }
     .list-group-item{
       
         width:290px;
         height:80px;
          
     }
     .snippet_text{
       display:block;
       font-size:10px;
       font-family: Arial, Helvetica, sans-serif;
     }
     