     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width:45%;
        position:relative;
        float:right;
        top:50px;
      }
      
      .container{
        height:100%;
        width:80%;
      }
      #searchPanel{
         width:50%;
         display: inline-block;

      }
    
      .list-group-item:first-child{
          border-radius:0px;
        
         
      }
      .list-group-item:last-child{
      border-radius:0px;
        
      }
      
      .navbar-form{
          margin-bottom:20px;
      }
      form{
          width:30%;
          margin: 0 auto;
      }
      .glyphicon-heart{
          color:red;
      }