<div class="container">
    <form >
        <div>
          <input type="text"  id="term" value="mexican" placeholder="Name of Place,Trails.....">
          <input type="text"  id="location" value="San Jose" placeholder="Location">
        </div>
        <button type="button" id="currentLocation" class="btn btn-default">Submit</button>
        <button type="button" id="testbutton" class="btn btn-default">Test</button>
      </form>

<div id="searchPanel">
      <br></br>
    <div id="searchResults"></div>
</div>

<div class ="container" id="map"></div>
</div>
<div>

</div>
